@import "../assets/scss/variable";


.main-container {
  display: flex;
  justify-content: space-around;
  font-family: Roboto, sans-serif;
}

.presentation {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  padding: 100px 40px 0;

  img {
    max-width: 600px;
  }
}

.registration__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.registration__block {
  -webkit-box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  -moz-box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  width: 400px;
  padding: 30px 0;
  margin-top: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.description__text {
  font-family: Gilroy, sans-serif;
  font-size: 35px;
  max-width: 600px;
  margin-bottom: 20px;
  font-weight: 700;
  color: black;
}


.header__descr {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #000;
  text-align: center;
}

.registration__form {
  width: 75%;
  margin: 0 auto;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  &--group {
    display: flex;
    flex-direction: row;

    &:first-child {

      input {
        width: 90%;
        margin-bottom: 10px;
      }

    }
  }

  label {
    color: darkgray;
    margin-bottom: 10px;
  }

  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgray;
    outline: none;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
    height: 25px;
    font-size: 18px;
    padding: 5px;

    &:focus {
      outline: none;
      border-bottom: 2px solid $base-color;
      transition: 0.3s;
    }
  }

  textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
  }


  select {
    margin-bottom: 20px;
  }

  &--sms {
    display: flex;
    justify-content: space-between;

    input {
      width: 20px;
    }
  }
}

.form-buttons {
  display: flex;
  justify-content: center;

  button {
    width: 75%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color: white;
    white-space: nowrap;
  }

  .prevBtn {
    background: $secondary-color;
    margin-right: 15px;
  }

  .nextBtn {
    background: $base-color;
  }
}

@media screen and (max-width: 1050px) {
  .main-container {
    flex-direction: column;
  }
  .presentation {
    padding: 30px 40px 0;
    width: unset;

    img {
      display: none;
    }
  }
  .registration__wrapper {
    width: unset;

    .registration__block {
      width: 100%;
    }
  }
}