@import "../assets/scss/variable";


.main-container {
  display: flex;
  justify-content: space-around;
  font-family: Roboto, sans-serif;

  .form-container {
    display: flex;
  }
}

.presentation {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 40px 0;
  width: 50%;

  img {
    width: 500px;
  }
}

.registration__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.registration__block {
  -webkit-box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  -moz-box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  box-shadow: 0px 8px 12px 2px rgba(34, 60, 80, 0.17);
  width: 400px;
  padding: 30px 0;
  margin-top: 25px;
  margin-bottom: 30px;
  border-radius: 4px;

  .check-data {
    ul li {
      margin-bottom: 10px;
    }
    
    h3,h5 {
      margin-bottom: 15px;
  }

  .submitBtn {
    width: 75%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    background: $base-color;
  }
}

.description__text {
  font-family: Gilroy, sans-serif;
  font-size: 35px;
  max-width: 600px;
  margin-bottom: 20px;
  font-weight: 700;
  color: black;

  &.alert {
    font-size: 25px;
    color: indianred;
  }
}


.header__descr {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #000;
  text-align: center;
}

.registration__form {
  width: 75%;
  margin: 0 auto;
}

.form_field {
  display: flex;
  flex-direction: column;

  label {
    color: darkgray;
    margin-bottom: 10px;
  }

  &--group {
    display: flex;
    flex-direction: row;

    &:first-child {

      input {
        width: 90%;
        margin-bottom: 10px;
      }

    }
  }



  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgray;
    outline: none;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;

    &:focus {
      outline: none;
      border-bottom: 2px solid $base-color;
      transition: 0.3s;
    }

    &.is-invalid {
      border-bottom: 2px solid #A22029;
    }


  }

  textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
  }


  select {
    margin-bottom: 20px;
  }

  &--sms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      width: 20px;
      height: 20px;
    }
  }
}

button {

  padding: 15px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  color: white;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  background: $base-color;

  &.disable {
    display: none;
  }

  &:hover {
    background: darken($base-color, 3%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }

  &:active {
    background: darken($base-color, 5%);
  }
}

.prevBtn {
  background: $secondary-color;
  margin-right: 15px;

  &:hover {
    background: darken($secondary-color, 3%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }

  &:active {
    background: darken($secondary-color, 5%);
  }
}

.nextBtn {
  background: $base-color;

  &:hover {
    background: darken($base-color, 3%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }

  &:active {
    background: darken($base-color, 5%);
  }
}

.form-buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .form-container {
    flex-direction: column;
  }
  .presentation {
    padding: 30px 40px 0;
    width: unset;

    img {
      display: none;
    }
  }
  .registration__wrapper {
    width: unset;

    .registration__block {
      width: 100%;
      margin-bottom: unset;
    }
  }
}

.invalid-feedback {
  color: #A22029;
  padding: 5px;
  border-radius: 5px;
  background: #F8D7DA;
  font-size: 12px;
  width: 120px;
  text-align: center;
  font-weight: 600;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 - полупрозрачный */
  display: flex;
  align-items: center;
  justify-content: center;


  .registration__block {
    background: white;
   padding: 15px;
    position: relative;
    overflow-y: scroll;
    height: 80%;

    ul li {
      margin-left: 15px;
    }
  }
}

.success-registration {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  &--body {
    padding: 80px;
    background: #e1e1e1;
    border-radius: 20px;

    h1 {
      margin-bottom: 100px;
      font-family: "Gilroy", sans-serif;
    }
  }
}

